.header{
    .h-top{
        height:37px;
        line-height:37px;
        font-size:12px;
        border-bottom:1px solid #e0e0e0;
        background:url(../img/top_bg.jpg) repeat-x;
        width:100%;
        .top-left{
            width: 15%;
            font-size:16px;
            font-weight:bold;
            a{
                margin: 0 10px;
            }
        }
        // h2{
        //     text-align: left;
        // }
        // ul{
        //     li{
        //         float:left;
        //         a{
        //             color:#333;
        //             cursor: pointer;
        //         }
        //         span{
        //             margin:0 15px;
        //             color:#333;
        //         }
        //     }
        // } 
        .facebook{
            position: relative;
            display: inline-flex;
            font-size: 14px;
            margin-left: 60%;
            align-items: center;
            p,.icon{
                padding: 0 10px;
                cursor: pointer;
            }
            .QRcode{
                position: absolute;
                top: 38px;
                height: 150px;
                width: 150px;
                left: 150px;
            }
        }
    }
    .h-main{
        // height:90px;
        // line-height:85px;
        .h-logo{
            // height:60px;
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
            img{
                height:120px;
                width:auto;
            }
        }
        .h-logo-ad{
            img{
                height:80px;
                width: 800px;
            }
        }
    }
    .nav{
        height:46px;
        line-height:46px;
        width: 1200px;
        margin: auto;
        .menu{
            width: 1200px;
            margin: 0 auto;
            .ivu-menu-horizontal{
                height: 46px;
                line-height: 46px;
                .ivu-menu-item, .ivu-menu-submenu{
                    padding: 0 24px;
                    i{
                        display: none;
                    }
                    .ivu-select-dropdown .ivu-menu-item{
                        padding: 7px 16px 8px;
                    }
                }
            }
            .ivu-menu-dark{
                background: none;
            }
            li{
                float:left;
                font-size:20px;
                font-weight: bold;
                cursor: pointer;
                overflow: initial;
                &.active a{
                    height:48px;
                    line-height:48px;
                    margin-top:-4px;
                    background:#193d80;
                }
                a{
                    color:#fff;
                    display: inline-block;
                    width:83px;
                    text-align: center;
                }
            }  
            li:hover a{
                height:48px;
                line-height:48px;
                margin-top:-4px;
                font-weight: bold;
                background:#193d80;
                color:#fff;
                text-decoration:none;
            }
        }
    }    
    // .nav li.active a{height:48px;line-height:48px;margin-top:-4px;}
    // .wgw-bg{
    //     background:#1d4187;
    // }   
}
